@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Londrina+Shadow&family=Montserrat:wght@800&family=Nosifer&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Forms */
input[type="text"],
input[type="email"],
textarea {
  @apply border-b-[1px] border-primary dark:border-secondary  bg-transparent outline-none;
}

/* SideAccordion.jsx */
aside main {
  @apply overflow-hidden text-primary dark:text-secondary flex flex-col items-center border-l-[1px] border-primary dark:border-secondary justify-between h-full w-[70px] py-9;
}
aside main h1 {
  @apply font-jetbrains text-2xl duration-200 transition-all ease-out;
}

/* SideNav.jsx */
nav ul li {
  @apply border-t-[1px] border-primary dark:border-secondary flex items-center justify-center duration-500;
}
nav ul li a {
  @apply py-4 flex items-center justify-center hover:bg-primary dark:hover:bg-secondary dark:hover:text-primary hover:text-secondary dark:text-secondary text-primary w-full duration-500;
}

/* Slider alice-carousel  */
.alice-carousel__dots-item {
  display: none !important;
}
.alice-carousel__prev-btn-wrapper,
.alice-carousel__next-btn-wrapper {
  position: relative;
  left: 310px;
}
.alice-carousel__prev-btn-wrapper p,
.alice-carousel__next-btn-wrapper p {
  border: 2px solid #222;
  padding: 0px 10px;
}
.alice-carousel__prev-btn-wrapper p span,
.alice-carousel__next-btn-wrapper p span {
  font-size: 26px;
  color: #000;
}
/* .alice-carousel {
  width: auto;
} */
